.heading-title {
text-align: left;
font-weight: 600;
font-family: 'Times New Roman';
padding-top: 10px;
}
.details {
    margin-top: 40px;
    border-radius: 15px;
    padding: 50px 50px;

}
.section-detail {
    color: oldlace;
   margin-top: -50px;
    margin: bottom 20px;;
    text-align: left;
    font-size: 25px;

}
main{
    max-width: 1000px;
    max-height: 600px;
    text-align: left;
    background: #ddf252 ;
    margin-left: 170px;
    display: flex;
    margin: 0 170px;
    margin-top: 100px;
    background-image: linear-gradient(rgb(226, 103, 103), yellow);
    box-shadow: 2px 2px 15px rgba(0,0,0, 0.6);
}
